doctype transitional
head
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1' name='viewport')
  meta(name='x-apple-disable-message-reformatting')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(content='telephone=no' name='format-detection')
  title Pago no procesado
  //if (mso 16)
      
    style(type='text/css').
      a {
      text-decoration: none;
      }
    |     [endif]
  //if gte mso 9
      
    style.
      sup {
      font-size: 100% !important;
      }
    |     [endif]
  //if gte mso 9
      
    xml
      o:officedocumentsettings
        o:allowpng
        o:pixelsperinch 96
    |     [endif]
  // [if !mso] <!
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i' rel='stylesheet')
  // <![endif]
  style(type='text/css').
    #outlook a {
    padding: 0;
    }
    .ExternalClass {
    width: 100%;
    }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
    line-height: 100%;
    }
    .es-button {
    mso-style-priority: 100 !important;
    text-decoration: none !important;
    }
    a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    }
    .es-desk-hidden {
    display: none;
    float: left;
    overflow: hidden;
    width: 0;
    max-height: 0;
    line-height: 0;
    mso-hide: all;
    }
    [data-ogsb] .es-button {
    border-width: 0 !important;
    padding: 15px 25px 15px 25px !important;
    }
    @media only screen and (max-width: 600px) {
    p,
    ul li,
    ol li,
    a {
    line-height: 150% !important;
    }
    h1 {
    font-size: 30px !important;
    text-align: center;
    line-height: 120% !important;
    }
    h2 {
    font-size: 26px !important;
    text-align: center;
    line-height: 120% !important;
    }
    h3 {
    font-size: 20px !important;
    text-align: center;
    line-height: 120% !important;
    }
    .es-header-body h1 a,
    .es-content-body h1 a,
    .es-footer-body h1 a {
    font-size: 30px !important;
    }
    .es-header-body h2 a,
    .es-content-body h2 a,
    .es-footer-body h2 a {
    font-size: 26px !important;
    }
    .es-header-body h3 a,
    .es-content-body h3 a,
    .es-footer-body h3 a {
    font-size: 20px !important;
    }
    .es-menu td a {
    font-size: 16px !important;
    }
    .es-header-body p,
    .es-header-body ul li,
    .es-header-body ol li,
    .es-header-body a {
    font-size: 16px !important;
    }
    .es-content-body p,
    .es-content-body ul li,
    .es-content-body ol li,
    .es-content-body a {
    font-size: 16px !important;
    }
    .es-footer-body p,
    .es-footer-body ul li,
    .es-footer-body ol li,
    .es-footer-body a {
    font-size: 16px !important;
    }
    .es-infoblock p,
    .es-infoblock ul li,
    .es-infoblock ol li,
    .es-infoblock a {
    font-size: 12px !important;
    }
    *[class="gmail-fix"] {
    display: none !important;
    }
    .es-m-txt-c,
    .es-m-txt-c h1,
    .es-m-txt-c h2,
    .es-m-txt-c h3 {
    text-align: center !important;
    }
    .es-m-txt-r,
    .es-m-txt-r h1,
    .es-m-txt-r h2,
    .es-m-txt-r h3 {
    text-align: right !important;
    }
    .es-m-txt-l,
    .es-m-txt-l h1,
    .es-m-txt-l h2,
    .es-m-txt-l h3 {
    text-align: left !important;
    }
    .es-m-txt-r img,
    .es-m-txt-c img,
    .es-m-txt-l img {
    display: inline !important;
    }
    .es-button-border {
    display: inline-block !important;
    }
    a.es-button,
    button.es-button {
    font-size: 20px !important;
    display: inline-block !important;
    }
    .es-btn-fw {
    border-width: 10px 0px !important;
    text-align: center !important;
    }
    .es-adaptive table,
    .es-btn-fw,
    .es-btn-fw-brdr,
    .es-left,
    .es-right {
    width: 100% !important;
    }
    .es-content table,
    .es-header table,
    .es-footer table,
    .es-content,
    .es-footer,
    .es-header {
    width: 100% !important;
    max-width: 600px !important;
    }
    .es-adapt-td {
    display: block !important;
    width: 100% !important;
    }
    .adapt-img {
    width: 100% !important;
    height: auto !important;
    }
    .es-m-p0 {
    padding: 0 !important;
    }
    .es-m-p0r {
    padding-right: 0 !important;
    }
    .es-m-p0l {
    padding-left: 0 !important;
    }
    .es-m-p0t {
    padding-top: 0 !important;
    }
    .es-m-p0b {
    padding-bottom: 0 !important;
    }
    .es-m-p20b {
    padding-bottom: 20px !important;
    }
    .es-mobile-hidden,
    .es-hidden {
    display: none !important;
    }
    tr.es-desk-hidden,
    td.es-desk-hidden,
    table.es-desk-hidden {
    width: auto !important;
    overflow: visible !important;
    float: none !important;
    max-height: inherit !important;
    line-height: inherit !important;
    }
    tr.es-desk-hidden {
    display: table-row !important;
    }
    table.es-desk-hidden {
    display: table !important;
    }
    td.es-desk-menu-hidden {
    display: table-cell !important;
    }
    .es-menu td {
    width: 1% !important;
    }
    table.es-table-not-adapt,
    .esd-block-html table {
    width: auto !important;
    }
    table.es-social {
    display: inline-block !important;
    }
    table.es-social td {
    display: inline-block !important;
    }
    .es-m-p5 {
    padding: 5px !important;
    }
    .es-m-p5t {
    padding-top: 5px !important;
    }
    .es-m-p5b {
    padding-bottom: 5px !important;
    }
    .es-m-p5r {
    padding-right: 5px !important;
    }
    .es-m-p5l {
    padding-left: 5px !important;
    }
    .es-m-p10 {
    padding: 10px !important;
    }
    .es-m-p10t {
    padding-top: 10px !important;
    }
    .es-m-p10b {
    padding-bottom: 10px !important;
    }
    .es-m-p10r {
    padding-right: 10px !important;
    }
    .es-m-p10l {
    padding-left: 10px !important;
    }
    .es-m-p15 {
    padding: 15px !important;
    }
    .es-m-p15t {
    padding-top: 15px !important;
    }
    .es-m-p15b {
    padding-bottom: 15px !important;
    }
    .es-m-p15r {
    padding-right: 15px !important;
    }
    .es-m-p15l {
    padding-left: 15px !important;
    }
    .es-m-p20 {
    padding: 20px !important;
    }
    .es-m-p20t {
    padding-top: 20px !important;
    }
    .es-m-p20r {
    padding-right: 20px !important;
    }
    .es-m-p20l {
    padding-left: 20px !important;
    }
    .es-m-p25 {
    padding: 25px !important;
    }
    .es-m-p25t {
    padding-top: 25px !important;
    }
    .es-m-p25b {
    padding-bottom: 25px !important;
    }
    .es-m-p25r {
    padding-right: 25px !important;
    }
    .es-m-p25l {
    padding-left: 25px !important;
    }
    .es-m-p30 {
    padding: 30px !important;
    }
    .es-m-p30t {
    padding-top: 30px !important;
    }
    .es-m-p30b {
    padding-bottom: 30px !important;
    }
    .es-m-p30r {
    padding-right: 30px !important;
    }
    .es-m-p30l {
    padding-left: 30px !important;
    }
    .es-m-p35 {
    padding: 35px !important;
    }
    .es-m-p35t {
    padding-top: 35px !important;
    }
    .es-m-p35b {
    padding-bottom: 35px !important;
    }
    .es-m-p35r {
    padding-right: 35px !important;
    }
    .es-m-p35l {
    padding-left: 35px !important;
    }
    .es-m-p40 {
    padding: 40px !important;
    }
    .es-m-p40t {
    padding-top: 40px !important;
    }
    .es-m-p40b {
    padding-bottom: 40px !important;
    }
    .es-m-p40r {
    padding-right: 40px !important;
    }
    .es-m-p40l {
    padding-left: 40px !important;
    }
    }
.es-wrapper-color(style='background-color: #f6f6f6')
  //if gte mso 9
        
    v:background(xmlns:v='urn:schemas-microsoft-com:vml' fill='t')
      v:fill(type='tile' color='#f6f6f6')
  table.es-wrapper(width='100%' cellspacing='0' cellpadding='0' style='\
  mso-table-lspace: 0pt;\
  mso-table-rspace: 0pt;\
  border-collapse: collapse;\
  border-spacing: 0px;\
  padding: 0;\
  margin: 0;\
  width: 100%;\
  height: 100%;\
  background-repeat: repeat;\
  background-position: center top;\
  ')
    tr(style='border-collapse: collapse')
      td(valign='top' style='padding: 0; margin: 0')
        table.es-header(cellpadding='0' cellspacing='0' align='center' style='\
        mso-table-lspace: 0pt;\
        mso-table-rspace: 0pt;\
        border-collapse: collapse;\
        border-spacing: 0px;\
        table-layout: fixed !important;\
        width: 100%;\
        background-color: transparent;\
        background-repeat: repeat;\
        background-position: center top;\
        ')
          tr(style='border-collapse: collapse')
            td(style='\
            padding: 0;\
            margin: 0;\
            background-size: cover;\
            background-color: #fe0000;\
            ' bgcolor='#fe0000' align='center')
              table.es-header-body(style='\
              mso-table-lspace: 0pt;\
              mso-table-rspace: 0pt;\
              border-collapse: collapse;\
              border-spacing: 0px;\
              background-color: transparent;\
              width: 640px;\
              ' cellspacing='0' cellpadding='0' align='center' bgcolor='#FFFFFF')
                tr(style='border-collapse: collapse')
                  td(align='left' style='\
                  padding: 0;\
                  margin: 0;\
                  padding-top: 10px;\
                  padding-left: 20px;\
                  padding-right: 20px;\
                  ')
                    table(cellspacing='0' cellpadding='0' width='100%' style='\
                    mso-table-lspace: 0pt;\
                    mso-table-rspace: 0pt;\
                    border-collapse: collapse;\
                    border-spacing: 0px;\
                    ')
                      tr(style='border-collapse: collapse')
                        td(valign='top' align='center' style='padding: 0; margin: 0; width: 600px')
                          table(cellspacing='0' cellpadding='0' width='100%' role='presentation' style='\
                          mso-table-lspace: 0pt;\
                          mso-table-rspace: 0pt;\
                          border-collapse: collapse;\
                          border-spacing: 0px;\
                          ')
                            tr(style='border-collapse: collapse')
                              td(align='center' style='\
                              padding: 0;\
                              margin: 0;\
                              padding-top: 10px;\
                              padding-bottom: 15px;\
                              font-size: 0px;\
                              ')
                                a(href='https://www.facebook.com/PrendarEcuador' target='_blank' style='\
                                -webkit-text-size-adjust: none;\
                                -ms-text-size-adjust: none;\
                                mso-line-height-rule: exactly;\
                                text-decoration: none;\
                                color: #b7bdc9;\
                                font-size: 20px;\
                                ')
                                  img(src='https://iallln.stripocdn.email/content/guids/CABINET_e2ed5c8a2909a469681d8743437073f1/images/43671625763896404.png' style='\
                                  display: block;\
                                  border: 0;\
                                  outline: none;\
                                  text-decoration: none;\
                                  -ms-interpolation-mode: bicubic;\
                                  ' alt='' title='' width='350')
        table.es-content(cellspacing='0' cellpadding='0' align='center' style='\
        mso-table-lspace: 0pt;\
        mso-table-rspace: 0pt;\
        border-collapse: collapse;\
        border-spacing: 0px;\
        table-layout: fixed !important;\
        width: 100%;\
        ')
          tr(style='border-collapse: collapse')
            td(align='center' style='padding: 0; margin: 0')
              table.es-content-body(style='\
              mso-table-lspace: 0pt;\
              mso-table-rspace: 0pt;\
              border-collapse: collapse;\
              border-spacing: 0px;\
              background-color: transparent;\
              width: 640px;\
              ' cellspacing='0' cellpadding='0' align='center')
                tr(style='border-collapse: collapse')
                  td(align='left' style='\
                  padding: 0;\
                  margin: 0;\
                  padding-left: 20px;\
                  padding-right: 20px;\
                  ')
                    table(cellspacing='0' cellpadding='0' width='100%' style='\
                    mso-table-lspace: 0pt;\
                    mso-table-rspace: 0pt;\
                    border-collapse: collapse;\
                    border-spacing: 0px;\
                    ')
                      tr(style='border-collapse: collapse')
                        td(valign='top' align='center' style='padding: 0; margin: 0; width: 600px')
                          table(style='\
                          mso-table-lspace: 0pt;\
                          mso-table-rspace: 0pt;\
                          border-collapse: separate;\
                          border-spacing: 0px;\
                          border-radius: 4px;\
                          background-color: #ffffff;\
                          ' width='100%' cellspacing='0' cellpadding='0' bgcolor='#ffffff' role='presentation')
                            tr(style='border-collapse: collapse')
                              td(align='right' style='\
                              padding: 0;\
                              margin: 0;\
                              padding-left: 10px;\
                              padding-top: 15px;\
                              padding-right: 15px;\
                              ')
                                p(style="\
                                margin: 0;\
                                -webkit-text-size-adjust: none;\
                                -ms-text-size-adjust: none;\
                                mso-line-height-rule: exactly;\
                                font-family: 'open sans',\
                                'helvetica neue', helvetica, arial,\
                                sans-serif;\
                                line-height: 24px;\
                                color: #333333;\
                                font-size: 16px;\
                                ")
                                  strong #{dateEmail}&nbsp;
                                  br
                                  br
                            tr(style='border-collapse: collapse')
                              td(align='center' style='\
                              padding: 0;\
                              margin: 0;\
                              padding-top: 15px;\
                              padding-bottom: 15px;\
                              ')
                                h2(style="\
                                margin: 0;\
                                line-height: 34px;\
                                mso-line-height-rule: exactly;\
                                font-family: 'open sans',\
                                'helvetica neue', helvetica, arial,\
                                sans-serif;\
                                font-size: 28px;\
                                font-style: normal;\
                                font-weight: bold;\
                                color: #034ea0;\
                                ")
                                  br
                            tr(style='border-collapse: collapse')
                              td(align='left' style='\
                              padding: 0;\
                              margin: 0;\
                              padding-top: 15px;\
                              ')
                                p(style="\
                                margin: 0;\
                                -webkit-text-size-adjust: none;\
                                -ms-text-size-adjust: none;\
                                mso-line-height-rule: exactly;\
                                font-family: 'open sans',\
                                'helvetica neue', helvetica, arial,\
                                sans-serif;\
                                line-height: 24px;\
                                color: #333333;\
                                font-size: 16px;\
                                ")
                                  strong &nbsp;Estimado/a: #{cliente}
                                  br
                                  br
                            tr(style='border-collapse: collapse')
                              td.es-m-txt-l(align='left' style='\
                              margin: 0;\
                              padding-left: 20px;\
                              padding-right: 25px;\
                              padding-top: 40px;\
                              padding-bottom: 40px;\
                              ')
                                p(style="\
                                margin: 0;\
                                -webkit-text-size-adjust: none;\
                                -ms-text-size-adjust: none;\
                                mso-line-height-rule: exactly;\
                                font-family: 'open sans',\
                                text-align: 'justify',\
                                'helvetica neue', helvetica, arial,\
                                sans-serif;\
                                line-height: 24px;\
                                color: #333333;\
                                font-size: 16px;\
                                ")
                                  | Reciba un cordial saludo de 
                                  strong Prendar Ecuador
                                  | .
                                  br
                                  br
                                  | No hemos podido verificar el comprobante de pago, por lo que deberas contactarnos
                                  | para ayudarte a realizar el proceso de 
                                  if renovation
                                    strong renovación 
                                  else
                                    strong cancelación 
                                  | o tu solicitud podria ser cancelada.

                            tr(style='border-collapse: collapse')
                              td(align='left' style='\
                              padding: 0;\
                              margin: 0;\
                              padding-left: 10px;\
                              padding-top: 15px;\
                              ')
                                p(style="\
                                margin: 0;\
                                -webkit-text-size-adjust: none;\
                                -ms-text-size-adjust: none;\
                                mso-line-height-rule: exactly;\
                                font-family: 'open sans',\
                                'helvetica neue', helvetica, arial,\
                                sans-serif;\
                                line-height: 24px;\
                                color: #333333;\
                                font-size: 16px;\
                                ")
                                  | Gracias por utilizar
                                  | nuestros servicios.
                                  br
                                  br
                tr(style='border-collapse: collapse')
                  td.es-m-p20t.es-m-p0b.es-m-p20r.es-m-p20l(align='left' style='\
                  padding: 0;\
                  margin: 0;\
                  padding-top: 20px;\
                  padding-left: 20px;\
                  padding-right: 20px;\
                  ')
                    //if mso
                      table(style='width:600px' cellpadding='0' cellspacing='0')
                        tr
                          td(style='width:290px' valign='top')
                    table.es-left(cellpadding='0' cellspacing='0' align='left' style='\
                    mso-table-lspace: 0pt;\
                    mso-table-rspace: 0pt;\
                    border-collapse: collapse;\
                    border-spacing: 0px;\
                    float: left;\
                    ')
                      tr(style='border-collapse: collapse')
                        td.es-m-p20b(align='left' style='padding: 0; margin: 0; width: 290px')
                          table(cellpadding='0' cellspacing='0' width='100%' role='presentation' style='\
                          mso-table-lspace: 0pt;\
                          mso-table-rspace: 0pt;\
                          border-collapse: collapse;\
                          border-spacing: 0px;\
                          ')
                            tr(style='border-collapse: collapse')
                              td(align='left' style='padding: 0; margin: 0')
                                p(style="\
                                margin: 0;\
                                -webkit-text-size-adjust: none;\
                                -ms-text-size-adjust: none;\
                                mso-line-height-rule: exactly;\
                                font-family: 'open sans',\
                                'helvetica neue', helvetica, arial,\
                                sans-serif;\
                                line-height: 27px;\
                                color: #acadb2;\
                                font-size: 18px;\
                                ")
                                  strong &iexcl;S&iacute;guenos en!
                            tr(style='border-collapse: collapse')
                              td(align='center' style='\
                              padding: 0;\
                              margin: 0;\
                              font-size: 0px;\
                              background-color: #efefef;\
                              ' bgcolor='#efefef')
                                table.es-table-not-adapt.es-social(cellpadding='0' cellspacing='0' role='presentation' style='\
                                mso-table-lspace: 0pt;\
                                mso-table-rspace: 0pt;\
                                border-collapse: collapse;\
                                border-spacing: 0px;\
                                ')
                                  tr(style='border-collapse: collapse')
                                    td(align='center' valign='top' style='\
                                    padding: 0;\
                                    margin: 0;\
                                    padding-right: 15px;\
                                    ')
                                      a(target='_blank' href='https://www.facebook.com/PrendarEcuador' style='\
                                      -webkit-text-size-adjust: none;\
                                      -ms-text-size-adjust: none;\
                                      mso-line-height-rule: exactly;\
                                      text-decoration: none;\
                                      color: #75b6c9;\
                                      font-size: 16px;\
                                      ')
                                        img(title='Facebook' src='https://iallln.stripocdn.email/content/guids/CABINET_e2ed5c8a2909a469681d8743437073f1/images/71021598545699382.png' alt='Fb' width='32' height='32' style='\
                                        display: block;\
                                        border: 0;\
                                        outline: none;\
                                        text-decoration: none;\
                                        -ms-interpolation-mode: bicubic;\
                                        ')
                                    td(align='center' valign='top' style='padding: 0; margin: 0')
                                      a(target='_blank' href='https://www.instagram.com/prendar_ecuador/' style='\
                                      -webkit-text-size-adjust: none;\
                                      -ms-text-size-adjust: none;\
                                      mso-line-height-rule: exactly;\
                                      text-decoration: none;\
                                      color: #75b6c9;\
                                      font-size: 16px;\
                                      ')
                                        img(title='Instagram' src='https://iallln.stripocdn.email/content/guids/CABINET_e2ed5c8a2909a469681d8743437073f1/images/51311598545749153.png' alt='Ig' width='32' height='32' style='\
                                        display: block;\
                                        border: 0;\
                                        outline: none;\
                                        text-decoration: none;\
                                        -ms-interpolation-mode: bicubic;\
                                        ')
                    //if mso
                      td(style='width:20px')
                      td(style='width:290px' valign='top')
                    table.es-right(cellpadding='0' cellspacing='0' align='right' style='\
                    mso-table-lspace: 0pt;\
                    mso-table-rspace: 0pt;\
                    border-collapse: collapse;\
                    border-spacing: 0px;\
                    float: right;\
                    ')
                      tr(style='border-collapse: collapse')
                        td(align='left' style='padding: 0; margin: 0; width: 290px')
                          table(cellpadding='0' cellspacing='0' width='100%' role='presentation' style='\
                          mso-table-lspace: 0pt;\
                          mso-table-rspace: 0pt;\
                          border-collapse: collapse;\
                          border-spacing: 0px;\
                          ')
                            tr(style='border-collapse: collapse')
                              td(align='left' style='padding: 0; margin: 0')
                                p(style="\
                                margin: 0;\
                                -webkit-text-size-adjust: none;\
                                -ms-text-size-adjust: none;\
                                mso-line-height-rule: exactly;\
                                font-family: 'open sans',\
                                'helvetica neue', helvetica, arial,\
                                sans-serif;\
                                line-height: 27px;\
                                color: #acadb2;\
                                font-size: 18px;\
                                ")
                                  strong &iexcl;Cont&aacute;ctanos!
                            tr(style='border-collapse: collapse')
                              td(align='center' style='\
                              padding: 0;\
                              margin: 0;\
                              font-size: 0px;\
                              background-color: #efefef;\
                              ' bgcolor='#efefef')
                                table.es-table-not-adapt.es-social(cellpadding='0' cellspacing='0' role='presentation' style='\
                                mso-table-lspace: 0pt;\
                                mso-table-rspace: 0pt;\
                                border-collapse: collapse;\
                                border-spacing: 0px;\
                                ')
                                  tr(style='border-collapse: collapse')
                                    td(align='center' valign='top' style='padding: 0; margin: 0')
                                      a(target='_blank' href='https://api.whatsapp.com/send/?phone=593990533865&text&app_absent=0' style='\
                                      -webkit-text-size-adjust: none;\
                                      -ms-text-size-adjust: none;\
                                      mso-line-height-rule: exactly;\
                                      text-decoration: none;\
                                      color: #75b6c9;\
                                      font-size: 16px;\
                                      ')
                                        img(title='Linkedin' src='https://iallln.stripocdn.email/content/guids/CABINET_e2ed5c8a2909a469681d8743437073f1/images/10841625764271465.png' alt='In' width='32' height='32' style='\
                                        display: block;\
                                        border: 0;\
                                        outline: none;\
                                        text-decoration: none;\
                                        -ms-interpolation-mode: bicubic;\
                                        ')
                    //if mso
        table.es-footer(cellpadding='0' cellspacing='0' align='center' style='\
        mso-table-lspace: 0pt;\
        mso-table-rspace: 0pt;\
        border-collapse: collapse;\
        border-spacing: 0px;\
        table-layout: fixed !important;\
        width: 100%;\
        background-color: transparent;\
        background-repeat: repeat;\
        background-position: center top;\
        ')
          tr(style='border-collapse: collapse')
            td(align='center' style='padding: 0; margin: 0')
              table.es-footer-body(cellspacing='0' cellpadding='0' align='center' style='\
              mso-table-lspace: 0pt;\
              mso-table-rspace: 0pt;\
              border-collapse: collapse;\
              border-spacing: 0px;\
              background-color: #f6f6f6;\
              width: 640px;\
              ')
                tr(style='border-collapse: collapse')
                  td(align='left' style='\
                  margin: 0;\
                  padding-left: 20px;\
                  padding-right: 20px;\
                  padding-top: 40px;\
                  padding-bottom: 40px;\
                  ')
                    table(width='100%' cellspacing='0' cellpadding='0' style='\
                    mso-table-lspace: 0pt;\
                    mso-table-rspace: 0pt;\
                    border-collapse: collapse;\
                    border-spacing: 0px;\
                    ')
                      tr(style='border-collapse: collapse')
                        td(valign='top' align='center' style='padding: 0; margin: 0; width: 600px')
                          table(width='100%' cellspacing='0' cellpadding='0' role='presentation' style='\
                          mso-table-lspace: 0pt;\
                          mso-table-rspace: 0pt;\
                          border-collapse: collapse;\
                          border-spacing: 0px;\
                          ')
                            tr(style='border-collapse: collapse')
                              td(align='center' style='\
                              padding: 20px;\
                              margin: 0;\
                              font-size: 0;\
                              ')
                                table(border='0' width='100%' height='100%' cellpadding='0' cellspacing='0' role='presentation' style='\
                                mso-table-lspace: 0pt;\
                                mso-table-rspace: 0pt;\
                                border-collapse: collapse;\
                                border-spacing: 0px;\
                                ')
                                  tr(style='border-collapse: collapse')
                                    td(style='\
                                    padding: 0;\
                                    margin: 0;\
                                    border-bottom: 1px solid #cccccc;\
                                    background: none;\
                                    height: 1px;\
                                    width: 100%;\
                                    margin: 0px;\
                                    ')
                            tr(style='border-collapse: collapse')
                              td(align='center' style='\
                              padding: 0;\
                              margin: 0;\
                              padding-top: 15px;\
                              padding-bottom: 15px;\
                              ')
                                p(style="\
                                margin: 0;\
                                -webkit-text-size-adjust: none;\
                                -ms-text-size-adjust: none;\
                                mso-line-height-rule: exactly;\
                                font-family: 'open sans',\
                                'helvetica neue', helvetica, arial,\
                                sans-serif;\
                                line-height: 21px;\
                                color: #999999;\
                                font-size: 14px;\
                                ")
                                  | Av. General Enr&iacute;quez frente al fuerte
                                  | militar San Jorge.
                            tr(style='border-collapse: collapse')
                              td(style='padding: 0; margin: 0')
                                table.es-menu(cellpadding='0' cellspacing='0' width='100%' role='presentation' style='\
                                mso-table-lspace: 0pt;\
                                mso-table-rspace: 0pt;\
                                border-collapse: collapse;\
                                border-spacing: 0px;\
                                ')
                                  tr.links(style='border-collapse: collapse')
                                    td#esd-menu-id-1(align='center' valign='top' width='50%' style='\
                                    margin: 0;\
                                    padding-left: 5px;\
                                    padding-right: 5px;\
                                    padding-top: 10px;\
                                    padding-bottom: 10px;\
                                    border: 0;\
                                    ')
                                      a(target='_blank' href='tel:+593022331535' style='\
                                      -webkit-text-size-adjust: none;\
                                      -ms-text-size-adjust: none;\
                                      mso-line-height-rule: exactly;\
                                      text-decoration: none;\
                                      display: block;\
                                      color: #999999;\
                                      font-size: 14px;\
                                      ')
                                        | Matriz Sangolqu&iacute;: (02) 2331-535 ext
                                        | 106
                                    td#esd-menu-id-2(align='center' valign='top' width='50%' style='\
                                    margin: 0;\
                                    padding-left: 5px;\
                                    padding-right: 5px;\
                                    padding-top: 10px;\
                                    padding-bottom: 10px;\
                                    border: 0;\
                                    ')
                                      a(target='_blank' href='tel:+593062432411' style='\
                                      -webkit-text-size-adjust: none;\
                                      -ms-text-size-adjust: none;\
                                      mso-line-height-rule: exactly;\
                                      text-decoration: none;\
                                      display: block;\
                                      color: #999999;\
                                      font-size: 14px;\
                                      ')
                                        | Lago Agrio: (06) 2432-411
